@media only screen and (min-width: 800px) and (max-width: 2000px) and (min-height: 600px) and (max-height: 1500px) {
  .pointer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pointer {
    position: absolute;
    width: 2.5vw;
    height: auto;
    top: 68vh;
    left: 58vw;
    mix-blend-mode: multiply;
  }
  
  .ninja-text {
    position: absolute;
    font-size: 0.8vw;
    color: #f0e7e7;
    font-weight: 500;
    top: 75vh;
    left: 56vw;
  }
  
  .pointer1 {
    position: absolute;
    width: 2.5vw;
    height: auto;
    top: 20vh;
    left: 91vw;
    mix-blend-mode: multiply;
  }
  
  .dragon-text {
    position: absolute;
    font-size: 0.8vw;
    color: #ec0f0f;
    font-weight: 500;
    top: 27vh;
    left: 89vw;
  }
  
  .pointer2 {
    position: absolute;
    width: 2.5vw;
    height: auto;
    top: 62vh;
    left: 91vw;
    mix-blend-mode: multiply;
  }
  
  .shuriken-text {
    position: absolute;
    font-size: 0.8vw;
    color: #f0e7e7;
    font-weight: 500;
    top: 69vh;
    left: 88vw;
  }
  
  .Shuriken-image img {
    position: absolute;
    top: 60%;
    left: 90.5%;
    transform: translate(-50%, -50%);
    width: 11vw;
    height: auto;
    max-width: 100%;
    mix-blend-mode: multiply;
    z-index: 1;
    cursor: pointer;
  }
}
