@media only screen and (min-width: 800px) and (max-width: 1920px) and (min-height: 600px) and (max-height: 1080px) {
  .pointer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .pointer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .pointer {
    position: absolute;
    width: 2.5vw;
    height: auto;
    top: 68vh;
    left: 58vw;
    mix-blend-mode: multiply;
  }
  
  .ninja-text {
    position: absolute;
    font-size: 0.8vw;
    color: #3f3d3d;
    font-weight: 500;
    top: 75vh;
    left: 56vw;
  }
  
  .pointer1 {
    position: absolute;
    width: 2.5vw;
    height: auto;
    top: 21vh;
    left: 91vw;
    mix-blend-mode: multiply;
  }
  
  .dragon-text {
    position: absolute;
    font-size: 0.8vw;
    color: #ec0f0f;
    font-weight: 500;
    top: 28vh;
    left: 89vw;
  }
}