
/****** GLOBAL STYLES ******/

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
   box-sizing: border-box !important;
}
/****** GLOBAL STYLES ******/

/****** BODY STYLES *****/
body {
  background-image: linear-gradient(to right, #808080, #666666);
  background-size: 100% 500vh, cover; 
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100vw;
  margin: 0 auto;
  max-width: 100%;
  
}
/****** BODY STYLES *****/


/****** MENU STYLES ******/
.menu {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw; 
  overflow-x: visible;
  box-sizing: border-box;
  margin: 0 auto; 
  color: #FFFAF0;
  text-align: center;
  z-index: 1; 
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; 
  gap: 5vw;
}
.menu ul li {
  position: relative;
}
.menu ul li > a {
  font-size: 1.1vw;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  background-image: linear-gradient(to right, #ccc9c6, #f0ebeb);
  background-clip: text;
  -webkit-background-clip: text;
  color: #f0f0f0;
  position: relative;
  font-weight: 150;
}
.menu ul li > a:hover {
  transform: scale(1.1);
}
.menu ul li > a:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
/****** MENU STYLES ******/


/****** DROPDOWN STYLES ******/
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1;
    display: block !important; /* Add this line */
    width: 200px; /* Add this line */
    overflow-x: visible;
    transform: translateX(-10%);
}
.dropdown li {
  margin-bottom: 10px;
  display: block;
}
.dropdown li a {
  text-decoration: none;
  
}
.menu ul li:hover > .dropdown {
  opacity: 1;
  display: block;
  pointer-events: auto;
}
.dropdown:hover {
  opacity: 1;
  pointer-events: auto;
}
/****** DROPDOWN STYLES ******/


/****** CONTAINER STYLES ******/
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/****** CONTAINER STYLES ******/


/****** BUTTON STYLES ******/
#create-folder-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/****** BUTTON STYLES ******/


/****** GALLERY STYLES ******/
#photos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 480px;
  overflow-y: auto;
  margin: 0 auto;
  max-width: 1200px;
}
.gallery-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
/****** GALLERY STYLES ******/



/****** BANNER ******/
.banner {
  height: 10vh; /* Match the menu height */
  background: linear-gradient(to bottom, #333333, #CCCCCC);
  position: absolute;
  top: 0;
  left: 50%; /* Move left edge to 50% */
  transform: translateX(-50%); /* Move left by 50% of its own width */
  width: 100vw;
  z-index: -1; /* Ensure the banner is behind the menu */
  box-shadow: 0px 0px 10px rgba(173, 216, 230, 1);
  border: 1px solid #fff; /* White border */
}
/****** BANNER ******/


/****** GREETINGS MESSAGE ******/
@font-face {
  font-family: 'Sheng';
  src: url('pi-sheng/Pi\ Sheng.otf');
}
.mouse-message {
  position: absolute;
  top: 13vh;
  left: 26vw;
  transform: translate(-50%, -50%);
  font-size: 1.7vw;
  cursor: pointer;
  text-align: center;
  color: #8B0A1A; text-shadow: 2px 0 #333;
}
.mouse-message, .mouse-message * {
  font-family: 'Sheng', sans-serif !important;
}

.mouse-message span {
  display: block;
}

.mouse-message:hover span {
  visibility: hidden;
}
@font-face {
  font-family: 'Shadow';
  src: url('shadow-whisper-demo/Shadow\ Whisper\ Demo.ttf');
}
.message {
  display: none;
  position: absolute;
  top: 4vh;
  left: 10vw;
  transform: translateX(-50%);
  background-image: url('dragons/phantom1.jpg');
  background-size: cover;
  background-position: center;
  color: #8B0A1A;
  padding: 1em;
  border-radius: 1em;
  font-size: 1vw;
  width: 20vw;
  height: 13vw;
  z-index: 1;
  text-align: left;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-weight: 400;  
  line-height: 1.6;
  font-family: 'Shadow', sans-serif !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.mouse-message:hover .message {
  display: block;
  animation: fadeIn 2s;
  }
 
  @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
  }
/****** GREETINGS MESSAGE ******/


/****** IMAGES ******/

/****** ninja ******/
.image {
  position: absolute;
  top: 74%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: auto;
  max-width: 100%;
  mix-blend-mode: multiply; 
  z-index: 1; 
  cursor: pointer;
}

.ninja-thoughts {
  position: absolute;
  top: 86.5vh;
  left: 99.9vw;
  transform: translate(-50vw, -50vh);
  width: 14vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 0.8vw;
  color: #fdf9f9;
}
.image:hover + .ninja-thoughts {
  opacity: 1;
}
/****** ninja ******/
  /*----------------------------------------------------------------------------------------/
/****** dragons ******/
.dragon-image img {
  position: absolute;
  width: 8vw; 
  height: auto; 
  mix-blend-mode: multiply; 
  left: 90vw; 
  top: 13vh; 
  transform: translateX(-50%); 
  cursor: pointer;
  z-index: 1;
}
.dragon-message {
  display: none;
  position: absolute;
  right: 20.5vw;
  top: 11vh;
  transform: none;
  background-image: linear-gradient(to bottom, #ff0000, #91913d);
  padding: 1vw;
  width: 21vw; /* Increased width for smaller screens */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw; /* Increased font size for smaller screens */
  color: #fff;
}
.dragon-message {
  display: none; /* Hide the message initially */
}

.dragon-image:hover .dragon-message {
  display: block; /* Show the message on hover */
}

/****** dragons ******/


/****** thoughts ******/
.thoughts {
  position: absolute;
  top: 85vh;
  left: 98.5vw;
  transform: translate(-50vw, -50vh);
  width: 16.8vw;
  height: 11.8vw;
  mix-blend-mode: multiply;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
/****** thoughts ******/


/****** BACK UP INCASE :-)
/****** pointer ninja ******
.pointer {
  width: 2.5vw;
  height: auto;
  position: relative;
  top: 68vh;
  left: 58vw;
  mix-blend-mode: multiply;
}
  .ninja-text {
    position: absolute;
    top: 86vh;
    left: 59vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: .8vw;
    color: #fffdfd;
    font-weight: 500;
  }
/****** pointer ninja ******/


/****** pointer dragon ******
.pointer1 {
  width: 2.5vw;
  height: auto;
  position: absolute;
  top: 31.5vh;
  left: 91vw;
  mix-blend-mode: multiply;
}
  .dragon-text {
    position: absolute;
    top: 40vh;
    left: 92vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: .8vw;
    color: #ec0f0f;
    font-weight: 500;
  }
/****** pointer dragon ******/




