/* MEDIA QUERIES */
/************** media queries for mobile phones *************/
@media (max-width: 375px) {
    .menu {
      position: absolute;
      top: -200px;
      left: -19px;
      width: 100px;
      height: 100vh;
    }
    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block; /* Changed from flex to block */
    }
    .menu ul li {
      margin-bottom: 20px;
    }
    .menu ul li a {
        font-size: 9px;
        line-height: 1.2;
        display: block;
        word-wrap: break-word;
        white-space: normal;
        width: 50px; /* Reduced width to force wrapping */
      }
      .menu ul li ul { 
        left: 100%;
        padding-left: 16px; /* Move submenus to the right */
     }

     .menu ul li ul li a {
        white-space: nowrap; /* Keep submenu items on one line */
      }
      .menu ul li ul li {
        margin-bottom: 10px; /* Reduce gap between submenus */
      }
    /******menu sections******/


/******banner sections******/
.banner {
    height: 5.5vh; /* Adjust the value as needed */
  }
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 35vw; /* Adjust the width as needed */
    height: 100vh; /* Take up the full viewport height */
  }
/******banner sections******/

/******overlay sections******/
.overlay {
    width: 305px; /* Increase width to 1200px */
    height: 500px; /* Increase height to 800px */
    left: 59vw;
    top:  49vh;
  }
/******overlay sections******/

/******ninja img sections******/
.image {
    transform: scale(2); /* Increase size by 50% */
    top: 70vh;
  }
/******ninja img sections******/

/******pointer img sections******/
.pointer {
    width: 5vw;
    height: auto;
    position: relative;
    top: 79vh;
    left: 60vw;
    mix-blend-mode: multiply;
  }
  .ninja-text {
    position: relative;
    top: 79vh;
    left: 108vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 1vw;
    color: #070707;
    font-weight: 500;
  }
/******pointer img sections******/

/******mouse here! sections******/
.mouse-message {
  position: absolute;
  top: 14vh;
  left: 29vw;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  cursor: pointer;
  text-align: center;
  color: #8B0A1A; text-shadow: 2px 0 #333;
}
/******mouse here! sections******/


/******dragon img sections******/
.dragon-image img {
    position: absolute;
    top: 20vh;
    left: 86.5vw;
    transform: translate(-50%, -50%) scale(3);
    mix-blend-mode: multiply;
  }
/******dragon img sections******/

}








  
  /* Media query for 1366x768 resolution (pointer and ninja-text) */
  @media only screen and (width: 1366px) and (height: 768px) {
    .pointer {
      width: 2.5vw;
      height: auto;
      position: relative;
      top: 70vh;
      left: 58vw;
      mix-blend-mode: multiply;
    }
    .ninja-text {
      position: absolute;
      top: 88vh;
      left: 59vw;
      transform: translate(-50%, -50%);
      cursor: pointer;
      font-size: .8vw;
      color: #3f3d3d;
      font-weight: 500;
    }
  }
