/************** media queries for mobile phones *************/
@media (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

    body {
        background: linear-gradient(to bottom, #333333, #444444);
        background-size: 100vw 500vh, cover;
        background-position: center;
        overflow: hidden;
        background-repeat: no-repeat;
        width: 150vw;
        margin: 0vw auto;
        max-width: 200vw;
        z-index: 1;
        
      }

    .menu {
        position: absolute;
        top: 10vh;
        left: 2.5vw;
        width: 17vw;
        height: 35vh;
        border: 1px solid #ccc;
        box-shadow: -5px 5px 2px #333; /* Add this line */
        padding-top: 2.5vh;
        background: linear-gradient(to bottom, #444, #222);
        display: flex;
        justify-content: center;
    }
    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: block; 
    }
    .menu ul li {
      margin-bottom: 3vh;
    }
    .menu ul li a {
        font-size: 2.5vw;
        line-height: 1.2;
        display: block;
        word-wrap: break-word;
        white-space: normal;
        width: 14vw; /* Reduced width to force wrapping */
      }
      .menu ul li ul {
        position: absolute;
        left: 17vw;
        top: 2vh;
        background: linear-gradient(to bottom, #808080, #333333);
        border-radius: 5px;
        border: 2px solid #555555;
        padding-left: 1vw;
        width: 30vw; /* Reduce the width */
        height: auto;
        padding-top: 3vh;
        
        
         
     }

     .menu ul li ul li a {
        white-space: nowrap; /* Keep submenu items on one line */
      }
      .menu ul li ul li {
        margin-bottom: 2vh; /* Reduce gap between submenus */
        text-align: center;
        
      }
    /******menu sections******/


/******banner sections******/
.banner {
    height: 5.5vh; /* Adjust the value as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 42vw; /* Adjust the width as needed */
    height: 150vh; /* Take up the full viewport height */
  }
/******banner sections******/

/******overlay sections******/
.overlay {
    width: 106vw; /* Increase width to 1200px */
    height: 100vh; /* Increase height to 800px */
    left: 75vw;
    top:  60vh;
  }
/******overlay sections******/

/******ninja img sections******/
.image {
    transform: scale(2); /* Increase size by 50% */
    top: 70vh;
  }
/******ninja img sections******/

/******pointer ninja******/
.pointer {
    width: 5vw;
    height: auto;
    position: relative;
    top: 79vh;
    left: 60vw;
    mix-blend-mode: multiply;
  }
  .ninja-text {
    position: relative;
    top: 79.5vh;
    left: 127vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 2.3vw;
    color: #070707;
    font-weight: 500;
  }
/******pointer ninja******/


/******pointer dragon******/
.pointer1 {
    width: 5vw;
    height: auto;
    position: relative;
    top: 23vh;
    left: 85vw;
    mix-blend-mode: multiply;
  }
    .dragon-text {
      position: absolute;
      top: 33.5vh;
      left: 85vw;
      transform: translate(-50%, -50%);
      cursor: pointer;
      font-size: 2.3vw;
      color: #ec0f0f;
      font-weight: 500;
      white-space: nowrap;
    }
/******pointer dragon******/


/******dragon's message******/
.dragon-message {
    display: none;
    position: absolute;
    right: 10vw;
    top: 35vh;
    transform: none;
    background-image: linear-gradient(to bottom, #ff0000, #91913d);
    padding: 4.5vw;
    width: 60vw; /* Increased width for smaller screens */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw; /* Increased font size for smaller screens */
    color: #fff;
  }
  .dragon-message {
    display: none; /* Hide the message initially */
  }
  
  .dragon-image:hover .dragon-message {
    display: block; /* Show the message on hover */
  }
/******dragon's message******/


/******mouse here! sections******/
.mouse-message {
  position: absolute;
  top: 14.5vh;
  left: 38vw;
  transform: translate(-50%, -50%);
  font-size: 4vw;
  cursor: pointer;
  text-align: center;
  color: #8B0A1A; text-shadow: 2px 0 #333;
}
/******mouse here! sections******/


/******dragon img sections******/
.dragon-image img {
    position: absolute;
    top: 20vh;
    left: 86.5vw;
    transform: translate(-50%, -50%) scale(3);
    mix-blend-mode: multiply;
  }
/******dragon img sections******/


/******thoughts img sections******/
.thoughts {
    position: absolute;
    top: 98vh;
    left: 83vw;
    transform: translate(-50vw, -50vh);
    width: 50vw;
    height: 35vw;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    
  }
  .ninja-thoughts {
    position: absolute;
    top: 99.6vh;
    left: 89vw;
    transform: translate(-50vw, -50vh);
    width: 38vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 2.2vw;
    color: #fdf9f9;
    overflow: visible;
    background: none;
    border: none;
  }
/******thoughts img sections******/

/******message in mouse here img sections******/
.message {
    display: none;
    position: absolute;
    top: 4vh;
    left: 10vw;
    transform: translateX(-50%);
    background-image: url('dragons/phantom1.jpg');
    background-size: cover;
    background-position: center;
    color: #8B0A1A;
    padding: 1em;
    border-radius: 1em;
    font-size: 1vw;
    width: 20vw;
    height: 13vw;
    z-index: 1;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: 400;  
    line-height: 1.6;
    font-family: 'Shadow', sans-serif !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  }


/******message in mouse here img sections******/
.message {
    display: none;
    position: absolute;
    top: 20vh;
    left: 32vw;
    transform: translateX(-50%);
    background-image: url('dragons/phantom1.jpg');
    background-size: cover;
    background-position: center;
    color: #8B0A1A;
    padding-top: 1vh;
    border-radius: 1em;
    font-size: 3vw;
    width: 60vw;
    height: 38vw;
    z-index: 1;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: 400;  
    line-height: 1.6;
    font-family: 'Shadow', sans-serif !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  }
/******message in mouse here img sections******/
}